.col-sm-4.col-md-3.proto-content
  .thumbnail
    = link_to image_tag(prototype.set_main_thumbnail), prototype_path(prototype)
    .caption
      %h3
        = prototype.title
      .proto-meta
        .proto-user
          = link_to prototype.user.name, user_path(prototype.user)
        .proto-posted
          = prototype.posted_date
      .proto-tag-list
        .proto-tags
          = link_to "tagtag", "https://google.co.jp", class: "btn btn-default col-lg-1"


/      .proto-tag-list
/        - prototype.prototype_tags.each do |tag|
/          .proto-tags
/            = link_to tag.tagname, user_path(tag), class: "btn btn-default col-lg-1"
